{# templates/security/access_denied.html.twig #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accès refusé</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
<div class="h-screen flex flex-col justify-center items-center">
    <h1 class="text-4xl font-bold mb-8">Accès refusé</h1>
    <p class="text-lg mb-8">Vous n'avez pas la permission d'accéder à cette page.</p>
    <div class="details-container text-center">
        <a href="{{ path('app_accueil') }}" class="inline-block bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-md">Retour à l'accueil</a>
    </div>

</div>
</body>
</html>
