controllers:
    resource:
        path: ../src/Controller/
        namespace: App\Controller
    type: attribute
velo_details:
    path: /velo/details/{ref_recyclerie}
    controller: 'App\Controller\AccueilController::veloDetails'
