controllers:
    resource:
        path: ../src/Controller/
        namespace: App\Controller
    type: attribute
errors:
    path: /error
    controller: App\Controller\ErrorController::showErrorPage
