# config/services.yaml

parameters:
    images_directory: '%kernel.project_dir%/public/images/velo'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\EventListener\CheckUserIsActiveListener:
        tags:
            - { name: kernel.event_listener, event: security.authentication.success }
