body {
    background-color: #ffffff;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.button-style {
    display: inline-block;
    padding: 8px 16px;
    background-color: #38a89d;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-style:hover {
    background-color: #319795;
}