{% extends 'base.html.twig' %}

{% block title %}Détails du Vélo{% endblock %}

{% block body %}
<h1>Détails du Vélo</h1>
<p>Référence de recyclérie : {{ velo.refRecyclerie }}</p>
<p>Nom : {{ velo.nom }}</p>
<p>Description : {{ velo.description }}</p>
<!-- Vous pouvez ajouter plus de détails ici -->
{% endblock %}
git add