{% extends 'base.html.twig' %}

{% block title %}Hello TypeDiagnosticController!{% endblock %}

{% block body %}
<style>

</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/vassal/Documents/Projets/Projet UHA 3/projet_velos_uha/velo/src/Controller/TypeDiagnosticController.php</code></li>
        <li>Your template at <code>/home/vassal/Documents/Projets/Projet UHA 3/projet_velos_uha/velo/templates/type_diagnostic/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
