{% extends 'base.html.twig' %}

{% block title %}Create New Velo{% endblock %}

{% block body %}
<style>
    .velo-form-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 16px/1.5 sans-serif;
    }
    .button-group {
        text-align: right; /* Aligns the buttons to the right */
        margin-top: 1em;
    }
    .btn {
        padding: 0.5em 1em;
        margin-right: 0.5em;
    }
</style>

<div class="velo-form-wrapper">
    <h1>Ajouter un nouveau Velo</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="button-group">
            <button type="submit" class="btn btn-success">Ajouter Velo</button>
             <button type="submit" name="search" class="btn btn-info">Rechercher par numéro de recyclerie</button>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}
